{% extends "base.html" %}
{% block title  %}
  Articles List
{% endblock title %}

{% block content %}
  <div class="row justify-content-center mb-5">
    {% if not articles %}
    <div class="alert alert-warning text-center mt-3" role="alert">
      No Articles Found
    </div>
    {% else %}

    {% for article in articles %}
    <div class="card col-12 col-sm-4 col-md-3 px-0 mt-5 mx-3" style="width: 20rem;">
      <img src="{{article.url_to_image}}" class="card-img-top" alt="{{article.title}}">
      <div class="card-body">
        <h5 class="card-title">{{article.title}}</h5>
        <p class="card-text text-muted">{{article.description}}</p>
        <a href="{% url 'article-detail' article.id %}" class="btn btn-primary">Read More</a>
        {% if request.user.is_authenticated %}
          <button type="button" class="btn btn-outline-danger">
            <i class="bi-heart-fill"></i>
          </button>
        {% endif %}
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
  {% endblock %}