<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url 'articles-list' %}">Articles</a>
        {% if request.user.is_authenticated %}
          <a class="nav-item nav-link" href="{% url 'user_profile' request.user.id %}">Hello <span style="color: #26779e;">{{request.user.name}}</span></a>
          {% if request.user.is_admin %}
            <a class="nav-item nav-link d-flex" href="/admin/" style="color: #26779e;">Admin Panel</a>
          {% endif %}
          <a class="nav-item nav-link" href="{% url 'logout' %}" style="color: #ff5722;">Logout</a>
        {% else %}
          <a class="nav-item nav-link" style="color: #26779e;" href="{% url 'login' %}">Login</a>
          <a class="nav-item nav-link" style="color: #26779e;" href="{% url 'registration' %}">Register</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>